@model PO_PurchasingUI.Models.SupplierModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    List<SelectListItem> TypeOfVat = new List<SelectListItem>();
    TypeOfVat.Add(new SelectListItem
    {
        Text = "Without VAT",
        Value = "0",
    });
    TypeOfVat.Add(new SelectListItem
    {
        Text = "VAT BEFORE DISCOUNT",
        Value = "1",
    });
    TypeOfVat.Add(new SelectListItem
    {

        Text = "DISCOUNT BEFORE VAT",
        Value = "2",
    });

   
}
<input type="hidden" value="42" id="ModuleAccess" />

<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                PO TO SUPPLIER <small></small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>PO TO SUPPLIER</li>
                <li><a class="link-effect" href="">EDIT</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->
<!-- Page Content -->
<!-- Forms Row -->
<div class="content">
    <div class="block animated fadeIn">
        <div class="block-header">
            <ul class="block-options">
                <li>
                    @Html.DisplayFor(supplier => supplier.POCReferenceNo, new { @class = "form-control", disabled = "disabled", autocomplete = "off" })

                </li>
            </ul>
            <h4 class="block-title">Date : @DateTime.Now.ToShortDateString()</h4>
        </div>
        @if (ViewBag.SupplierMonitoring == true)
        {
            <div class="block-content">
                <div class="row">

                    @*<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                            <div class="form-material form-material-primary input-group remove-margin-t remove-margin-b">
                                <input class="form-control" type="text" autocomplete="off" id="txSearch" name="base-material-text" placeholder="Search..">
                                <span class="input-group-addon"><i class="si si-magnifier"></i></span>
                            </div>
                        </div>*@

                    <div class="col-md-12">
                        <div class="panel-body table-responsive">
                            <table class="table table-striped table-borderless text-center js-dataTable-full-pagination">
                                <thead>
                                    <tr>
                                        <th style="font-size: 12px;" class="col-xs-1 col-sm-1 text-left">Edit</th>
                                        <th style="font-size: 12px;" class="col-xs-1 col-sm-1 text-left">Print</th>
                                        <th style="font-size: 12px;" class="col-xs-1 col-sm-2 text-left">PO No.</th>
                                        <th style="font-size: 12px;" class="col-xs-1 col-sm-3 text-left">Supplier</th>
                                        <th style="font-size: 12px;" class="col-xs-1 col-sm-2 text-left">Status</th>
                                        <th style="font-size: 12px;" class="col-xs-1 col-sm-2 text-left">Entry Date</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.PopulateAllEditSupplier)
                                    {
                                        <tr>
                                            <td style="font-size: 12px;" class="text-left"><a class="btn btn-primary" href="@Url.Action("EditSupplierForm","Home", new { @id = item.POSReferenceNo})"><span class="fa fa-edit"></span></a></td>
                                            <td style="font-size: 12px;" class="text-left"><a class="btn btn-default" href="@Url.Action("ReportSupplier", "Report", new { @id = item.POSReferenceNo })" target="_blank"><span class="fa fa-print"></span></a></td>
                                            <td style="font-size: 12px;" class="text-left">@Html.DisplayFor(Modelitem => item.POSupplierNumber)</td>
                                            <td style="font-size: 12px;" class="text-left">@Html.DisplayFor(Modelitem => item.Supplier)</td>
                                            @if (item.FormStatus == "FOR ENDORSEMENT")
                                            {
                                                <td style="font-size: 12px;" class="text-left"><span class="label label-warning">@Html.DisplayFor(Modelitem => item.FormStatus)</span></td>
                                            }
                                            else if (item.FormStatus == "FOR REVIEW")
                                            {
                                                <td style="font-size: 12px;" class="text-left"><span class="label label-primary">@Html.DisplayFor(Modelitem => item.FormStatus)</span></td>
                                            }
                                            else if (item.FormStatus == "FOR APPROVAL")
                                            {
                                                <td style="font-size: 12px;" class="text-left"><span class="label label-warning" style="background: #c7b7e4">@Html.DisplayFor(Modelitem => item.FormStatus)</span></td>
                                            }
                                            else if (item.FormStatus == "REJECTED")
                                            {
                                                <td style="font-size: 12px;" class="text-left"><span class="label label-danger">@Html.DisplayFor(Modelitem => item.FormStatus)</span></td>
                                            }
                                            else if (item.FormStatus == "APPROVED")
                                            {
                                                <td style="font-size: 12px;" class="text-left"><span class="label label-success">@Html.DisplayFor(Modelitem => item.FormStatus)</span></td>
                                            }
                                            <td style="font-size: 12px;" class="text-left">@Html.DisplayFor(Modelitem => item.EntryDate)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (ViewBag.SupplierMonitoring == false)
        {
            using (Html.BeginForm("UpdateUserSupplierInformation", "Main", FormMethod.Post, new { @id = "SupplierValidation", @class = "js-validation-material form-horizontal push-10-t", role = "form" }))
            {

                <div class="block-content block-content-narrow">

                    @Html.HiddenFor(m => m.POSReferenceNo)
                    @Html.HiddenFor(m => m.POSupplierNumber)

                    <input type="text" id="HiddenPreview" style="display:none;" />
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="form-material form-material-primary">
                                @Html.DropDownListFor(client => client.ListClientReferenceNo, Model.ListClientReferenceNo, new { @class = "js-select2  form-control", data_placeholder = "Select Client Reference No.", multiple = "multiple", style = "width:100%" })
                                <label for="ListClientReferenceNo">Client Reference No.</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="form-material form-material-primary floating">
                                    @Html.EditorFor(supplier => supplier.PODate, new { htmlAttributes = new { @class = "js-datepicker form-control", autocomplete = "off", @readonly = "readonly" } })
                                    <label for="POSupplierDate">P.O. Date</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="form-material form-material-primary floating">
                                    @Html.TextBoxFor(supplier => supplier.ProjectName, new { @class = "form-control", style = "width:100%;", autocomplete = "off", maxlength = "100" })
                                    <label for="ProjectName">Project Name</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="form-material form-material-primary floating">
                                    @Html.DropDownListFor(supplier => supplier.TermsofPayment, Model.ListofPaymentTerms, "", new { @class = "js-select2 form-control", style = "width:100%;", autocomplete = "off" })
                                    <label for="TermsofPayment">Terms of Payment</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="form-material form-material-primary floating">
                                    @Html.DropDownListFor(x => x.TypeOfVat, TypeOfVat, "", new { @class = "js-select2 form-control", style = "width:100%;", @onchange = "GetTypeOfVat()", autocomplete = "off" })
                                    <label for="TypeOfVat">Type of VAT</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="form-material form-material-primary floating">
                                    @Html.TextBoxFor(supplier => supplier.Discount, new { @class = "form-control", autocomplete = "off", onkeypress = "validate(event)", maxlength = "10" })
                                    <label for="Discount">Less Discount</label>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="form-material form-material-primary floating">
                                    @Html.DropDownListFor(supplier => supplier.PRNumber, Model.ListPRNumber, "", new { @class = "js-select2 form-control", style = "width:100%;" })
                                    <label for="PRNumber">PR Number</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="form-material form-material-primary floating">
                                    @Html.DropDownListFor(supplier => supplier.Supplier, Model.SupplierName, new { @class = "js-select2 form-control", style = "width:100%;", @onchange = "getSupplierAddress()", autocomplete = "off" })
                                    <label for="SupplierName">Supplier</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="DivSupplierAddresss" class="form-material form-material-primary floating">
                                    @Html.TextAreaFor(supplier => supplier.SupplierAddresss, new { @class = "form-control", id = "SupplierAddresss", disabled = "disabled", autocomplete = "off", style = "margin: 0px; width: 100%; height: 30px; resize:vertical;" })
                                    <label for="SupplierAddress">Supplier Address</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div id="DeliveryDiv" class="form-material form-material-primary floating">
                                    @Html.TextAreaFor(supplier => supplier.DeliveryAddress, new { @class = "form-control", id = "DeliveryAddress", autocomplete = "off", style = "margin: 0px; width: 100%; height: 30px; resize:vertical;", maxlength = "250" })
                                    <label for="DeliveryAddress">Shipping Address</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="form-material form-material-primary floating">
                                    @Html.TextAreaFor(supplier => supplier.Shippinginstruction, new { @class = "form-control", id = "Shippinginstruction", autocomplete = "off", style = "margin: 0px; width: 100%; height: 30px; resize:vertical;", maxlength = "250" })
                                    <label for="Shippinginstruction">Shipping Instruction</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="form-material form-material-primary floating">
                                    @Html.DropDownListFor(supplier => supplier.EndorserID, Model.Endorser, "", new { @class = "js-select2 form-control", style = "width:100%;" })
                                    <label for="Approver">Endorser</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="form-material form-material-primary floating">
                                    @Html.DropDownListFor(supplier => supplier.ApproverID, Model.Approver, "", new { @class = "js-select2 form-control", style = "width:100%;", Disabled = "true" })
                                    <label for="Approver">Approver</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                        </div>
                    </div>


                </div>

                <div class="block-content">
                    <div class="panel-body table-responsive">
                        <table id="TableSupplierItemList" class="table table-striped table-borderless" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="font-size:13px;" class="text-left"></th>
                                    <th></th>
                                    <th style="font-size:13px;" class="text-left">Particular</th>
                                    <th style="font-size:13px;" class="text-left">Unit</th>
                                    <th style="font-size:13px;" class="text-left">Qty</th>
                                    <th style="font-size:13px;" class="text-left">Unit Cost</th>
                                    <th style="font-size:13px;" class="text-left">Total Cost</th>
                                    <th style="font-size:13px;" class="text-left"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PopulateAllItemList)
                                {
                                    <tr id="mainrow" style="background-color:white">
                                        <td>
                                            <div class="form-material form-material-primary floating">
                                                @Html.EditorFor(ModelItem => item.DisplayAmountWithoutVAT, new { htmlAttributes = new { @class = "form-control", style = "display:none; text-align:right;", onkeypress = "validate(event)" } })
                                            </div>
                                        </td>
                                        <td>  <a id="add" value="Add" class="btn btn-success"><span class="fa fa-plus"></span> </a>  <a id="Remove" value="Remove" class="btn btn-danger"><span class="fa fa-close"></span> </a></td>
                                        <td class="col-xs-4">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="form-material form-material-primary floating">
                                                        @Html.DropDownListFor(ModelItem => item.ParticularName, new SelectList(Model.Particular, "Value", "Text", item.ParticularName), new { @class = "pc js-select2 form-control", style = "width:100%;  text-overflow: ellipsis;" })
                                                        <br />
                                                        @Html.TextAreaFor(ModelItem => item.itemDescription, new { @class = "form-control", style = "margin:0px; width:100%;  height: 34px; resize:vertical;" })
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-xs-1">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="form-material form-material-primary floating">
                                                        @Html.TextBoxFor(ModelItem => item.ItemMeasure, new { @class = "form-control", autocomplete = "off", style = "text-align:center", disabled = "disabled" })
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="col-xs-1">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="form-material form-material-primary floating">
                                                        @Html.TextBoxFor(ModelItem => item.Qty, new { @class = "form-control", onkeypress = "validate(event)", autocomplete = "off", style = "text-align:right", maxlength = "10" })
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-xs-2">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="form-material form-material-primary floating">
                                                        @Html.EditorFor(ModelItem => item.DisplayAmount, new { htmlAttributes = new { @class = "form-control", onkeypress = "validate(event)", autocomplete = "off", style = "text-align:right", maxlength = "10" } })
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-xs-2">
                                            <div class="form-material form-material-primary floating">
                                                @Html.EditorFor(ModelItem => item.DisplayTotalAmount, new { htmlAttributes = new { @class = "form-control", onkeypress = "validate(event)", disabled = "disabled", style = "text-align:right" } })
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-material form-material-primary floating">
                                                @Html.EditorFor(ModelItem => item.DisplayAmountVAT, new { htmlAttributes = new { @class = "form-control", style = "display:none; text-align:right;", onkeypress = "validate(event)" } })
                                            </div>
                                        </td>


                                    </tr>
                                }
                            </tbody>
                            <tfoot>

                                <tr style="background-color:white">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-center" style="font-size:13px"><strong class="text-black-op">Total Cost w/o VAT</strong></td>
                                    <td> @Html.EditorFor(client => client.DisplayGrandTotalWithoutVat, new { htmlAttributes = new { @class = "form-control", style = "border:none; background-color:white; text-align:right", disabled = "disabled", onkeypress = "validate(event)" } })</td>

                                </tr>

                                <tr style="background-color:white">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-center" style="font-size:13px"><strong class="text-black-op">Total 12% VAT</strong></td>
                                    <td> @Html.EditorFor(client => client.DisplayGrandTotalVat, new { htmlAttributes = new { @class = "form-control", style = "border:none; background-color:white; text-align:right", disabled = "disabled", onkeypress = "validate(event)" } })</td>

                                </tr>
                                <tr style="background-color:#eeeeee;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-center" style="font-size:13px"><strong class="text-black-op">Overall Total</strong></td>
                                    <td> @Html.EditorFor(client => client.DisplayGrandTotal, new { htmlAttributes = new { @class = "form-control", style = "border:none; background-color:##f5f5f5; text-align:right;cursor:default;font-weight:bold", disabled = "disabled", onkeypress = "validate(event)" } })</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            @if (Session["UserRole"].ToString() == "5")
                            {
                                <input class="btn btn-sm btn-dark  pull-right" type="submit" style="margin-left:5px;" id="btnPreviewSupplier" onclick="DoPreview()" value="Preview" />
                                <a class="btn btn-sm btn-danger pull-right" href="@Url.Action("EditSupplier","Home")">Back</a>
                            }
                            else
                            {
                                <input class="btn btn-sm btn-primary  pull-right" type="submit" style="margin-left:5px;" id="btnSaveSupplier" onclick="DoSave()" value="Submit" />
                                <input class="btn btn-sm btn-dark  pull-right" type="submit" style="margin-left:5px;" id="btnPreviewSupplier" onclick="DoPreview()" value="Preview" />
                                <a class="btn btn-sm btn-danger pull-right" href="@Url.Action("EditSupplier","Home")">Back</a>
                            }
                        </div>
                    </div>

                </div>

            }
        }
    </div>
</div>

@section scripts {

    <script>
        var DeliveryAddress = $("#DeliveryAddress");

        DeliveryAddress.onpaste = function (e) {
            //do some IE browser checking for e
            var max = DeliveryAddress.getAttribute("maxlength");
            e.clipboardData.getData('text/plain').slice(0, max)
        };

        var Shippinginstruction = $("#Shippinginstruction");

        Shippinginstruction.onpaste = function (e) {
            //do some IE browser checking for e
            var max = Shippinginstruction.getAttribute("maxlength");
            e.clipboardData.getData('text/plain').slice(0, max)
        };

        var ProjectName = $("#ProjectName");

        ProjectName.onpaste = function (e) {
            //do some IE browser checking for e
            var max = ProjectName.getAttribute("maxlength");
            e.clipboardData.getData('text/plain').slice(0, max)
        };
    </script>

    @Scripts.Render("~/bundles/EditSupplier")

    @if (ViewBag.PONumber != null)
    {

        <script>
            var list = [];
            var PONumber = $("#POSupplierNumber").val();
            $.ajax({

                type: "POST",
                url: '/Home/PopulateListClientReferenceNo', //REDIRECT TO ACTION RESULT (HOME CONTROLLLER)
                data: JSON.stringify({
                    PONumber: PONumber,
                }),
                contentType: "application/json",
                dataType: "json",
                success: function (data) { //RETURN DATA GALING SA CONTROLLER
                    list = data;
                    $("#ListClientReferenceNo").val(list)
                    $("#ListClientReferenceNo").change()
                }
            })
        </script>
    }

}
