@model PO_PurchasingUI.Models.ClientModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                DR MODULE<small></small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>DR MODULE</li>
                <li><a class="link-effect" href="">MANAGE</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<div class="row">
    <div class="content">
        <div class="block animated fadeIn">
            <div class="block-header">
                <h4 class="block-title">Date : @DateTime.Now.ToShortDateString()</h4>
            </div>

            <div class="block-content">
                <div class="overflow-y-auto">

                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                        <div class="form-material form-material-primary input-group remove-margin-t remove-margin-b">
                            <input class="form-control" type="text" autocomplete="off" id="txSearch" name="base-material-text" placeholder="Search..">
                            <span class="input-group-addon"><i class="si si-magnifier"></i></span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="panel-body table-responsive">
                            <table class="table table-striped table-borderless text-center" id="myTables">
                                <thead class="thdisplay">
                                    <tr>
                                        <th style="font-size: 13px;" class="col-xs-1 col-sm-1 text-center">Receive</th>
                                        <th style="font-size: 13px;" class="col-xs-1 col-sm-1 text-center">Release</th>
                                        <th style="font-size: 13px;" class="col-xs-1 col-sm-1 text-center">Quotation</th>
                                        <th style="font-size: 13px;" class="col-xs-1 col-sm-1 text-center">PO Number</th>
                                        <th style="font-size: 13px;" class="col-xs-2 col-sm-2 text-left">Client</th>
                                        <th style="font-size: 13px;" class="col-xs-2 col-sm-2 text-left">Prepared by</th>
                                        <th style="font-size: 13px;" class="col-xs-2 col-sm-2 text-center">Overall</th>
                                        <th style="font-size: 13px;" class="col-xs-2 col-sm-2  text-center">Client Status</th>
                                    </tr>
                                </thead>

                                <tbody class="tbdisplay">
                                    @foreach (var DR in Model.PopulateAllDeliveryReceipt)
                                    {
                                        <tr>
                                            <td style="font-size:13px;" class="col-xs-1 col-sm-1 text-center"><a href="javascript:void(0)" class="btn btn-primary si si-action-undo" id="btnDisplayItemReceive"></a></td>
                                            <td style="font-size:13px;" class="col-xs-1 col-sm-1 text-center"><a href="javascript:void(0)" class="btn btn-primary si si-action-redo" id="btnDisplayItemRelease"></a></td>
                                            <td style="font-size:13px;" class="col-xs-1 col-sm-1 text-center">@Html.DisplayFor(modelitem => DR.SignProposal)</td>
                                            <td style="font-size:13px;" class="col-xs-1 col-sm-1 text-center">@Html.DisplayFor(modelitem => DR.PONumber)</td>
                                            <td style="font-size:13px;" class="col-xs-2 col-sm-2 text-left">@Html.DisplayFor(modelitem => DR.ClientID)</td>
                                            <td style="font-size:13px;" class="col-xs-2 col-sm-2 text-left">@Html.DisplayFor(modelitem => DR.FullNameResponsible)</td>
                                            <td style="font-size:13px;" class="col-xs-2 col-sm-2 text-center">@Html.DisplayFor(modelitem => DR.DisplayGrandTotal)</td>
                                            <td style="font-size:13px;" class="col-xs-2 col-sm-2 text-center">@Html.DisplayFor(modelitem => DR.ClientStatus)</td>
                                            <td>@Html.HiddenFor(modelitem => DR.POC_ReferenceNo)</td>
                                            <td>@Html.HiddenFor(modelitem => DR.PONumber)</td>
                                            <td>@Html.HiddenFor(modelitem => DR.ClientID)</td>
                                            <td>@Html.HiddenFor(modelitem => DR.ClientAddress)</td>
                                            <td>@Html.HiddenFor(modelitem => DR.SignProposal)</td>
                                            <td>@Html.HiddenFor(modelitem => DR.FullNameResponsible)</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        @if (Model.PopulateAllDeliveryReceipt.Count() > 1)
                                        {
                                            <td class="text-black-op"> @Model.PopulateAllDeliveryReceipt.Count() records</td>
                                        }
                                        else
                                        {
                                            <td class="text-black-op"> @Model.PopulateAllDeliveryReceipt.Count() record</td>
                                        }
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Slide Right Modal RECEIVER -->
<div class="modal fade" id="modal-slideright" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-popout modal-lg">

        @using (Html.BeginForm("UpdateDeliveryReceipt", "Main", FormMethod.Post, new { @id = "SupplierItemListForm", @class = "js-validation-material form-horizontal push-10-t", role = "form" }))
        {
            <div class="modal-content">
                <div class="block block-themed block-transparent remove-margin-b">
                    <div class="block-content">
                        @Html.HiddenFor(a => a.PONumber)
                        @Html.HiddenFor(a => a.SignProposal)
                        @Html.HiddenFor(a => a.ClientAddress)
                        @Html.HiddenFor(a => a.ClientID)
                        @Html.HiddenFor(a => a.POC_ReferenceNo)
                        

                        <div class="col-md-6">
                            <div class="form-group" id="TextboxDeliveryNo">
                                <div class="col-sm-12">
                                    <div class="form-material form-material-primary floating">
                                        @Html.TextBoxFor(supplier => supplier.DeliveryNo, new { @class = "form-control", autocomplete = "off", maxlength = "20" })
                                        <label for="DeliveryNo">Delivery Receipt No.</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="form-material form-material-primary floating">
                                        @Html.TextAreaFor(supplier => supplier.DeliveryRemarks, new { @class = "form-control", autocomplete = "off", maxlength = "300", style = "margin: 0px; width: 100%; height: 38px; resize:vertical;" })
                                        <label for="DeliveryRemarks">Remarks</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 ">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="form-material form-material-primary floating">
                                        @Html.TextBoxFor(supplier => supplier.DeliveryDate, new { @class = "js-datepicker form-control", autocomplete = "off", maxlength = "10" })
                                        <label id="DeliveryDate" for="DeliveryDate">Date</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="form-material form-material-primary">
                                        @Html.TextBoxFor(supplier => supplier.FullNameResponsible, new { @class = "form-control", disabled = "disabled", autocomplete = "off" })
                                        <label id="User" for="FullNameResponsible">Responsible</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">

                            </div>
                        </div>
                        <div class="panel-body table-responsive">
                            <table class="ItemRec table table-borderless table-striped" id="myTable" style="max-width:100%; min-width:1037px;">
                                <thead class="thdisplay">
                                    <tr>
                                        <th class="col-md-1">PARTICULAR</th>
                                        <th class="col-md-1 text-center">QTY</th>
                                        <th class="col-md-1 text-center">COLLECTED</th>
                                        <th id="ReleaseModule" class="col-md-1 text-center">DELIVERED</th>
                                        <th id="ReleaseReceive" class="col-md-1 text-center">RECEIVE</th>
                                    </tr>
                                </thead>
                                <tbody class="tbdisplay"></tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-danger" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-sm btn-primary" id="UpdateItem" type="submit"><i class="fa fa-check"></i> Confirm</button>
                </div>
            </div>
        }
    </div>
</div>
<!-- END Slide Right Modal -->

@section scripts{



 

    <script>

        $("#myTables #btnDisplayItemReceive").on('click', function () {


            $('#PONumber').val("");
            $('#SignProposal').val("");
            $("#DeliveryNo").val("");



            $("#ReleaseModule").css("display", "none");
            $("#TextboxDeliveryNo").css("display", "");
            $("#DeliveryNo").rules("add", "required");


            var count = $(this).closest("tr");
            var POCReferenceNo = $("#DR_POC_ReferenceNo", count).val();
            var DR_SignProposal = $("#DR_SignProposal", count).val();
            var DR_PONumber = $("#DR_PONumber", count).val();
            var ClientID = $("#DR_ClientID", count).val();



            $('#ReleaseReceive').text('RECEIVE');
            $("#FullNameResponsible").val('@Session["UserFullName"].ToString()');
            $('#PONumber').val(DR_PONumber);
            $('#SignProposal').val(DR_SignProposal);
            $('#ClientID').val(ClientID);
            $('#POC_ReferenceNo').val(POCReferenceNo);


            $.ajax({
                url: '/Home/PopulateIDeliveryReceipt/',
                method: 'POST',
                data: JSON.stringify({

                    StringPOCReferenceNo: POCReferenceNo,
                    TypeOf_DR: "RECEIVING"
                }),
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    var employeeTable = $('.ItemRec .tbdisplay');
                    if (data == 0) {
                        employeeTable.empty();
                        $("#UpdateItem").prop('disabled', true);
                        employeeTable.append('<tr class="norecords"><td colspan="6" class="Normal" style="text-align: center">No records were found</td></tr>');
                    }
                    else if (data == "CLOSED") {
                        employeeTable.empty();
                        $("#UpdateItem").prop('disabled', true);
                        employeeTable.append('<tr class="norecords"><td colspan="6" class="Normal" style="text-align: center">All item has been released</td></tr>');
                    }
                    else {
                        employeeTable.empty();
                        $("#UpdateItem").prop('disabled', false);
                        $(data).each(function (index, data) {
                            employeeTable.append('<tr><td>' + data.ItemName + '</td><td class="text-center">' + data.Qty + '</td><td  class="text-center">' + data.Collected
                                + '</td><td><input type="text" class="form-control" onkeypress = "validate(event)" id="ItemCount"></td><td style="display:none;"><input type="text" class="form-control" value="' + data.ItemID
                                + '" id="HiddenItemID"></td><td style="display:none;"><input type="text" class="form-control" value="' + data.ItemName
                                + '" id="HiddenParticularName"></td><td style="display:none;"><input type="text" class="form-control" value="' + data.Qty
                                + '" id="HiddenQty"></td><td style="display:none;"><input type="text" class="form-control" value="' + data.Collected
                                + '" id="HiddenCollected"></td></tr>');
                        });

                    }

                },
                error: function (err) {
                    alert(err);
                }
            });

            $('#modal-slideright').modal({
                show: 'false',
                backdrop: 'static',
            });
        })


        $("#myTables #btnDisplayItemRelease").on('click', function () {

            $('#PONumber').val("");
            $('#SignProposal').val("");
            $("#DeliveryNo").val("");

            $("#ReleaseModule").css("display", "");
            $("#TextboxDeliveryNo").css("display", "none");
            $('#ReleaseReceive').text('RELEASE');
            $("#DeliveryNo").rules("remove", "required");


            var count = $(this).closest("tr");
            var POCReferenceNo = $("#DR_POC_ReferenceNo", count).val();
            var DR_PONumber = $("#DR_PONumber", count).val();
            var DR_SignProposal = $("#DR_SignProposal", count).val();
            var ClientAddress = $("#DR_ClientAddress", count).val();
            var ClientID = $("#DR_ClientID", count).val();


            $("#ClientAddress").val(ClientAddress);
            $("#FullNameResponsible").val('@Session["UserFullName"].ToString()');
            $('#PONumber').val(DR_PONumber);
            $('#SignProposal').val(DR_SignProposal);
            $('#ClientID').val(ClientID);



            $.ajax({
                url: '/Home/PopulateIDeliveryReceipt/',
                method: 'POST',
                data: JSON.stringify({

                    StringPOCReferenceNo: POCReferenceNo,
                    TypeOf_DR: "RELEASING"
                }),
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    var employeeTable = $('.ItemRec .tbdisplay');

                    if (data == 0) {
                        employeeTable.empty();
                        $("#UpdateItem").prop('disabled', true);
                        employeeTable.append('<tr class="norecords"><td colspan="6" class="Normal" style="text-align: center">No records were found</td></tr>');
                    }
                    else if (data == "CLOSED") {
                        employeeTable.empty();
                        $("#UpdateItem").prop('disabled', true);
                        employeeTable.append('<tr class="norecords"><td colspan="6" class="Normal" style="text-align: center">All item has been released</td></tr>');
                    }
                    else {
                        employeeTable.empty();
                        $("#UpdateItem").prop('disabled', false);
                        $(data).each(function (index, data) {
                            employeeTable.append('<tr><td>' + data.ItemName + '</td><td class="text-center">' + data.Qty + '</td><td  class="text-center">' + data.Collected
                                + '</td><td  class="text-center">' + data.Delivered
                                + '</td><td><input type="text" class="form-control" id="ItemCount"></td><td style="display:none;"><input type="text" class="form-control" value="' + data.ItemID
                                + '" id="HiddenItemID"></td><td style="display:none;"><input type="text" class="form-control" value="' + data.ItemName
                                + '" id="HiddenParticularName"></td><td style="display:none;"><input type="text" class="form-control" value="' + data.Qty
                                + '" id="HiddenQty"></td><td style="display:none;"><input type="text" class="form-control" value="' + data.Collected
                                + '" id="HiddenCollected"></td><td style="display:none;"><input type="text" class="form-control" value="' + data.Delivered
                                + '" id="HiddenDelivered"></td></tr>');
                        });
                    }
                },
                error: function (err) {
                    alert(err);
                }
            });

            $('#modal-slideright').modal({
                show: 'false',
                backdrop: 'static',
            });
        })


        $("#SupplierItemListForm").submit(function (event) {

            var ItemDetails = new Array();
            var Item;
            $(".ItemRec .tbdisplay tr").each(function () {
                Item = {};
                var row = $(this);
                Item.ItemID = $("#HiddenItemID", row).val();
                Item.ItemName = $("#HiddenParticularName", row).val();
                Item.Qty = $("#HiddenQty", row).val();
                Item.Collected = $("#HiddenCollected", row).val();
                Item.ItemCount = $("#ItemCount", row).val();
                Item.Delivered = $("#HiddenDelivered", row).val();
                ItemDetails.push(Item);

            })

            var POCReferenceNo = $("#POC_ReferenceNo").val();
            var DeliveryNo = $("#DeliveryNo").val();
            var DeliveryRemarks = $("#DeliveryRemarks").val();
            var DeliveryDate = $("#DeliveryDate").val();
            var FullNameResponsible = $("#FullNameResponsible").val();
            var ReleaseReceive = $("#ReleaseReceive").text();
            var PONumber = $("#PONumber").val();
            var SignProposal = $("#SignProposal").val();
            var ClientAddress = $("#ClientAddress").val();
            var ClientID = $("#ClientID").val();

            if (ReleaseReceive != "RELEASE") {
                if (DeliveryNo == "" || DeliveryDate == "") {
                    return;
                }
            }
            var action = $("#SupplierItemListForm").attr("action");
            event.preventDefault();
            event.stopImmediatePropagation();
            $.ajax({
                url: action,
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    ItemDetails,
                    DeliveryNo: DeliveryNo,
                    POC_ReferenceNo: POCReferenceNo,
                    DeliveryRemarks: DeliveryRemarks,
                    DeliveryDate: DeliveryDate,
                    FullNameResponsible: FullNameResponsible,
                    PONumber: PONumber,
                    SignProposal: SignProposal,
                    StringReleaseReceive: ReleaseReceive,
                    ClientAddress: ClientAddress,
                    ClientID: ClientID,
                }),
                dataType: "json",
                success: function (data) {

                    if (data == "failed") {
                        sweetAlert("Please fill out Received item alteast one.", "", "error");
                        return false;
                    }
                    else if (data == "Error1") {
                        sweetAlert("The item you received has been overlimit.", "Please, try again.", "error");
                        return false;
                    }
                    else if (data == "Error2") {
                        sweetAlert("The item you released has been overlimit.", "Please, try again.", "error");
                        return false;
                    }
                    else {
                        swal
                            ({
                                 title: "Success",
                                text: + data + " Item/s has been successfully updated.",
                                type: "success", allowOutsideClick: false
                            }).then(function () {
                                // Redirect the user
                                if (ReleaseReceive == "RELEASE") {
                                    window.open("/Report/DR_Report/" + DeliveryNo);

                                }
                                window.location.href = '/Home/DeliveryReceipt/';
                            });
                    }
                },
                error: function (err) {
                    alert(err);
                }
            })
        })






    </script>
}